@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* font CSS */
@font-face {
	font-family: "SECGCWB";
	src: url("https://media.samsungwa.com/media/fonts/SECGCWB/SECGCWM.eot");
	src: url("https://media.samsungwa.com/media/fonts/SECGCWB/SECGCWM.eot?#iefix") format("embedded-opentype"),
	url("https://media.samsungwa.com/media/fonts/SECGCWB/SECGCWM.woff") format("woff"),
	url("https://media.samsungwa.com/media/fonts/SECGCWB/SECGCWM.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family:"Microsoft Yi Baiti",Arial,Helvetica,sans-serif;
	color:#454545;
	font-size:1em;
}
.clearfix:before,.clearfix:after {
	content:"";
	display:block;
}
.clearfix:after {
	clear:both;
}
.container {
	min-width:380px;
}
.header_wrapper {
	width:100%;
	height:900px;
	background:#b1dceb;
	transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
}
.header {
	display:table;
	position:relative;
	width:100%;
	height:100%;
	/*max-width:1200px;*/
	/*max-width:1400px;*/
	/*margin:0 auto;*/
}
/* nav */
.mobile_tab {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	margin-right: 20px;
	margin-top: 15px;
	width: 28px;
}
.mobile_nav {
		display:none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 9999;
		margin: 0;
		padding: 0;
		width: 100%;
		overflow: hidden;
		text-align: center;
		/*background-color: #312450;*/
		border-left: 0;
		border-top: 1px solid #2c2c2c;
		-webkit-border-bottom-left-radius: 2px;
		border-bottom-left-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		border-bottom-right-radius: 2px;
}
.mobile_nav.active {
	display: block;
	padding: 20px 0;
	width: 100%;
	background-color: #fff;
}
.mobile_nav > ul > li  > a {
	display: block;
	padding: 0 10px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	color: #2f2f2f;
	border-bottom: 1px dotted #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mobile_nav > ul > li:hover > a {
	color: #b4252d;
}
.mobile_nav a.close {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	text-align: center;
	text-indent: -9999px;
	text-decoration: none;
	font-size: 1em;
	/*background: url(../images/btn_close.png) no-repeat 0 0;*/
	color: #000;
}
.transparency {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 130;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.transparency.active {
	display: block;
}
.header .nav,.header .fixed_nav {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background:rgba(0,0,0,0);
}
.header .fixed_nav {
	position:fixed;
	top:-115px;
	background:#fff;
	z-index:50;
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
.header .fixed_nav.show {
	top:0px;
}
/*.header .nav .logo {
	float:left;
	width:112px;
}*/
/*.header .nav .logo img {
	margin-top:14px;
	margin-left:12px;
}*/
.header .mobile_nav .logo img{
	width:30px;
	height:30px;

}
.header .nav .logo,
.header .fixed_nav .logo {
	float:left;
	width:40px;
	height:40px;
}
.header .nav .logo img,
.header .fixed_nav .logo img {
	margin-top:7px;
	margin-left:7px;
}
.header .nav > ul,
.header .fixed_nav > ul {
	float: right;
	position: relative;
	z-index: 1000;
}
.header .nav ul li ,
.header .fixed_nav ul li {
	float:left;
	margin-right:38px;
}
.header .nav ul li a {
	line-height:80px;
	font-family:"Open Sans";
	font-weight:600;
	font-size:1em;
	color:#454545;
}
.header .fixed_nav ul li a{
	line-height:60px;
	font-family:"Open Sans";
	font-weight:600;
	font-size:1em;
	color:#454545;
}
.header .nav li a:hover,
.header .nav li a.on {
	color:#fff;
}
.header .fixed_nav li a:hover,
.header .fixed_nav li a.on {
	color:#1cc7c1;
}
.title_wrap {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.header .title {
	/*display:inline-block;*//*
	padding-top:25%;*/
	text-align:center;
	font-size:3em;
	font-family:Impact,sans-serif;
	/*overflow: hidden;
	height:140px;*/
	position:relative;
	display:inline-block;
	width:50%;
	padding:1em;


	}
/*
.header .title {
	position:absolute;
	left:50%;
	top:40%;
	margin:0 0 0 -357px;
	/*width:740px;*//*
	height:172px;
	font-size:3em;
	font-family:Impact,sans-serif;
}*/
.header .title h2 {
	vertical-align: middle;
	font-size:2.1em;
}
.content1_wrapper{
	/*display:inline-block;*/
	/*height:949px;*/
	background:#e8eaed;
}
.content1 .about {
	/*width:100%;*/
	max-width:100%;
	height:350px;
	background: url(../images/about.jpg) center no-repeat;
	background-size:cover;
	/*height:400px;*/
}
.content1 .wrap {
	margin:0 auto;
	margin-top:70px;
	max-width:1200px;
	padding-bottom:50px;
	/*max-width:1400px;*/
	/*height:360px;	*/
}
.content1 .text {
	display:block;
	float:left;
	margin-left:30px;
	width:453px;
}
.content1 .text h2 {
 	font-size:4.5em;
}
.content1 .text > p {
	/*white-space:pre-line;*/
	font-family:"SECGCWB",sans-serif;
	font-size:1em;
	color:#777777;
}
.content1 .skill {
	padding-top:80px;
	margin-left:700px;
	width:453px;
	/*height:330px;*/
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#fff;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}
.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:1em;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:1em;
	height:35px;
	line-height:35px;
	color:#444;
	font-weight:400;
	/*color:rgba(0, 0, 0, 0.4);*/
}

/* subject CSS */
.subject {
	margin:0 auto;
	padding-top: 50px;
	width: 96%;
	overflow: hidden;
	/*background-color: #f7f7f7;*/
}
.subject .feature {
	display: block;
	float: left;
	margin-right: 8%;
	margin-bottom: 50px;
	width: 28%;
	height: auto;
}
.subject .feature:nth-child(3n+0) {
	margin-right: 0;
}
.subject .feature .ficon {
	display: block;
	position: relative;
	float: left;
	margin-right: 11.5%;
	width: 18.5%;
}
.subject .feature .ficon .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -30px;
	font-size: 2em;
	color: #fff;
}
.subject .feature .ficon .fa::before {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.subject .feature .details_exp {
	display: block;
	float: left;
	width: 70%;
}
.subject .feature .details_exp h3 {
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	color: #de9ac6;
}
.subject .feature .details_exp p {
	margin-bottom: 20px;
	line-height: 1.5;
	white-space: normal;
	word-break: keep-all;
	font-family: "SECGCWB", "돋움", Dotum, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #9e9e9e;
}
.subject .feature .details_exp a {
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	letter-spacing: 5px;
	color: #838383;
}
.subject .feature .details_exp a:hover {
	color: #353535;
}
.subject .feature .details_exp a span {
	margin-left: 10px;
	font-family: Arial, sans-serif;
}


.content2_wrapper {
	background:#ffffff;
	/*height:100%;*/
}
.content2 {
	margin:0 auto;
	max-width:1920px;
	/*max-width:1400px;	*/
}
.content2 h1 {
	position:relative;
	margin-top:80px;
	font-size:4.5em;
	text-align:center;
}
.content2 > span {
	display:block;
	text-align:center;
	font-size:1em;
	font-family: "SECGCWB", "돋움", Dotum, sans-serif;
	color:#737373;
}
/* 수정된 영역입니다. */
.gallery {
	margin: 0 auto;
	margin-top: 20px;
	width: 96%;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery .picture_box {
	display: block;
	position: relative;
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	/* width: 32.3%; */
	width: 100%;
	height: 300px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.picture_box .picture {
	display: block;
	width: 33.3%;
	height: 300px;
	background:#eaeaea;
	-webkit-transition: -webkit-transform 0.5s;
	-ms-transition: -ms-transform 0.5s;
	transition: transform 0.5s;
}
.picture_box .picture.work1 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/diseny.jpg) top center no-repeat ;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work2 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/daeyang.jpg) top center no-repeat ;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work3 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/nowoo.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work4 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/jw.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work5 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/news.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work6 {
	display:block;
	width:100%;
	max-width:100%;
	background: #eeeeee url(../images/crosslink.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture {
	display:block;
	width:100%;
	max-width:100%;
}
.picture_box .picture.work7 {
	background: #eeeeee url(../images/lc.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work8 {
	background: #eeeeee url(../images/happyness.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work9 {
	background: #eeeeee url(../images/midea.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work10 {
	background: #eeeeee url(../images/donghae.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work11 {
	background: #eeeeee url(../images/jophy.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work12 {
	background: #eeeeee url(../images/work4.png) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work13 {
	background: #eeeeee url(../images/work9.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work14 {
	background: #eeeeee url(../images/work3.png) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work15 {
	background: #eeeeee url(../images/work2.jpg) top center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.picture_box .picture.work16 {
	background: #eeeeee url(../images/work16.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.picture_box .picture.work17 {
	background: #eeeeee url(../images/work17.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.picture_box .picture.work18 {
	background: #eeeeee url(../images/work18.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.picture_box .picture.work19 {
	background: #eeeeee url(../portfolio_img/rating.pc.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



/*
.picture_box:hover .picture {
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}*/
.picture_box .dim {
	display: block;
	position: absolute;
	left: 0;
	top: -300px;
	z-index: 10;
	padding-top: 72px;
	width:100%;
	height: 300px;
	line-height: 2;
	text-align: center;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;
	background: rgba(0,0,0,.8);
	color: rgba(255,255,255,.6);
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.picture_box .dim span {
	font-weight: 700;
	color: rgba(255,255,255,1);
}
.picture_box:hover .dim {
	top: 0px;
}
/* popup CSS */
/*.popup .contents {
	margin: 20px 20px 0 20px;
}
.popup .contents .gallery_area {
	position: relative;
	float: left;
	width: 600px;
	height: 405px;
}
.popup .contents .gallery_area .left_arrow {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 56px;
}
.popup .contents .gallery_area .right_arrow {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 56px;
}
.popup .contents .gallery_area .gallery {
	position: relative;
	margin: 0 auto;
	margin-top: 33px;
	width: 490px;
	height: 340px !important;
	overflow: hidden;
}
.popup .contents .gallery_area .gallery ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 2940px;/*1470px;*/
	/*height: 342px;
}
.popup .contents .gallery_area .gallery li {
	float: left;
	width: 490px;
	height: 340px;
}
.popup .contents .description {
	margin-left: 630px;
	padding-top: 20px;
}
.popup .contents .description h2 {
	margin-bottom: 32px;
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: 700;
}
.popup .contents .description .list li span {
	display: inline-block;
	line-height: 26px;
	font-family: "SECGCWB", "돋움", Dotum, sans-serif;
	font-size: 1em;
	font-weight: 400;
}
.popup .contents .description .list li a {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #312450;
}
.popup .contents .description .list li span.label {
	width: 90px;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	font-weight: 700;
}
.popup .contents .description .detail {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #f4f4f4;
}
.popup .contents .description .detail li span {
	display: inline-block;
	line-height: 26px;
	font-family: "SECGCWB", "돋움", Dotum, sans-serif;
	font-size: 1em;
	font-weight: 400;
	vertical-align: top;
}
.popup .contents .description .detail li span.label {
	width: 90px;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	font-weight: 700;
}
.popup .close {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-indent: -9999px;
	text-decoration: none;
	font-size: 2em;
	background: url(../images/btn_close.jpg) no-repeat 0 0;
	color: #666;
}
.modalMask {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 80;
	background-color: rgba(0,0,0,.4);
}
*/
/* content3 */
.content3_wrapper {

	height:420px;
	background:#e8eaed;
}
.content3 {
	max-width:1200px;
	/*max-width:1400px;*/
	margin:0 auto;
}
.content3 h2 {
	padding-top:100px;
	text-align:center;
	height:68px;
	font-size:4em;
	color:#454545;
}
.content3 .wrapwrap {
	text-align:center;
	margin-top:57px;
	height:180px;
}
.content3 .wrapwrap .call{
	display:inline-block;
	text-align:center;
	padding-top:10px;

}
.content3 .wrapwrap .email {
	display:inline-block;
	text-align:center;
	padding-left:100px;
}

.content3 .call p,
.content3 .email p {
	display:inline-block;
	padding-left:30px;
	font-size:1em;
	font-family: "Open Sans";
	font-weight:600;
	color:#454545;
	vertical-align: center;
}
.footer {
	height:76px;
	background:#242424;
	text-align:right;
	padding-right:42px;

}
.footer span {
	color:#aaa;
	/*color:#5b5b5b;*/
	font-size:1em;
	line-height:76px;
}


/* sub page  */
.container.sub section { max-width:1200px; width:100%; margin: 80px auto 0; text-align:center; font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",sans-serif; }
.container.sub h2 { font-size:3em; font-weight:bold; color:#3e3e3e; top:30px; transition: top 0.4s ease-in; -webkit-transition: top 0.4s ease-in;}
.container.sub img.img_m { width:38%;}
.container.sub img.img_tablet  { width:60%; vertical-align:top;  }
.container.sub .h2_p { margin:1em 0 1.5em; font-size:1.5em; color:#444444;}
.container.sub .tit_p {margin:2.5em 0 1.5em; font-size:2em; color:#444444; font-weight:bold; }
.container.sub p.text { margin:1.5em; line-height:1.5; text-align:left; font-size:1.2em; color:#444444; font-weight:bold; }
.container.sub p.text a{ color:#ff6262; }
.container.sub .header_wrapper {}
.container.sub .header_wrapper.fix { background:#fff; }
.container.sub .header_wrapper.fix .header .nav { position: fixed; height:80px; background: #fff; box-shadow: 0px 0 10px rgba(0,0,0,0.3); z-index:1; }
.container.sub .header_wrapper .header .nav li a:hover, .container.sub .header_wrapper .header .nav li a.on { color:#00bdff; }
.container.sub .nav h2 { text-indent: -9999px; font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",sans-serif;}
.container.sub .nav h2.fix { display:inline-block; position: fixed; top: 0; left: 0; max-width:1920px; width:100%; text-align:center; z-index:1; text-indent: inherit; line-height:80px; }
.container.sub video { max-width:100%; }


/*sub right icon*/
.right_icon {display:none; }
.right_icon.fix { display: block; position:fixed; right:10px; top:15px; z-index:2; }
.right_icon > a { display: inline-block; width:50px; height:50px; background:#aaaaaa; }
.right_icon .ico_pf { background: url(../images/ico_portfolio.png) center no-repeat; background-size:100%; }
.right_icon .ico_up { background: url(../images/ico_up.png) center no-repeat; background-size:100%; }



@media only screen and (max-width: 1020px){
	.popup {
		width: 100%;
	}
}
@media only screen and (max-width: 960px){
	.popup {
		width: 672px;
	}
	.popup .contents .description {
		display: none;
	}
	.popup .contents .gallery_area {
		width: 632px;
	}
}
@media only screen and (max-width: 780px){
	.popup {
		width: 600px;
	}
	.popup .contents .gallery_area {
		width:570px;
	}
}
/* responsive CSS */
@media only screen and (max-width:1400px) {
	.subject .feature .ficon .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -25px;}
}

@media only screen and (max-width:1278px) {
	.header_wrapper {
	width:100%;
	height:700px;
	}
	.header .title h2 {
	vertical-align: middle;
	font-size:1.5em;
	}
	.content1 .skill {
	margin-left:600px;/*700px*/
	}
	.subject .feature .ficon .fa {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;}
}
@media only screen and (max-width:1080px) {
	.header .title h2 {
	vertical-align: middle;
	font-size:1.3em;
	}
	.content1 .skill {
	margin-left:500px;
	}
}
@media only screen and (max-width:980px) {
	body {
		font-size:0.875em;
	}
	.content1 .text {
		margin-left:50px;/*30px*/
		width:400px;
	}
	.content1 .skill {
		margin-left:450px;/*700px*/
		width:400px;
	}
	.gallery .picture_box {
		/* width:47.99%; */
	}
	/*.content3 h2 {
		font-size:45px;
	}*/
}
@media only screen and (max-width:875px) {
	/*.header .title {
	position:absolute;
	left:55%;
	top:40%;
	}*/
	.content1 .about {
	height:300px;
	/*background: url(../images/about.jpg) center no-repeat;	*/
	}
	.content1 .text {
		width:350px;
	}
	.content1 .skill {
	margin-left:450px;
	width:350px;
	}
	/*.content3 h2 {
	font-size:45px;
	}*/
	.call img,
	.email img {
		max-width:80%;
	}
}
@media only screen and (max-width:825px) {
	.content1 .text {
		width:310px;
	}
	.content1 .skill {
	margin-left:450px;
	width:310px;}
	/*.content3 h2 {
	font-size:45px;
	}*/
	.call img,
	.email img {
		max-width:80%;
	}
}
@media only screen and (max-width:808px) {
		body {
		font-size:0.7em;
	}
}

@media only screen and (max-width:783px) {
	body {
		font-size:0.6em;
	}
	/*.header .title {
	left:65%;
	font-size:1.8em;
	}
	.header .title h2 {
	font-size:3em;
	}*/
	.mobile_tab {
		display: block;
	}
	.header .nav ,
	.header .fixed_nav {
		display:none;
	}
	/*.header .title {
	position:static;
	padding:380px 0 0 380px;
	width:420px;
	}*//*
	.content1 .about {
	height:210px;
	background: url(../images/about_m.jpg) center;
	}*/
	.content1_wrapper,
	.content1 .wrap {
		height:100%;
	}
	.content1 .text {
		float:none;
		width:450px;
		margin: 0 auto;
	}
	.content1 .skill {
		/*margin-left:50px;*/
		width:450px;
		margin:0 auto;
	}
	.content3 h2 {
	font-size:3em;
	}
	.content3 .call p,
	.content3 .email p {
		font-size:0.875em;
	}
	.call img,
	.email img {
		max-width:30%;
	}
	.sub .header .nav {
		display:block;
	}


}
@media only screen and (max-width:714px) {
	.content1 .about {
	height:210px;
	}
	.popup {
		display:none;
	}

}
@media only screen and (max-width:600px) {
	body {
		font-size:0.775em;
	}
	.header_wrapper{
	height:500px;
	}/*
	.content1 .about {
	height:200px;
	background: url(../images/about_s.jpg) center;
	}	*/
	.content1 .text {
		width:400px;
	}
	.content1 .skill {
		width:400px;
	}
	.gallery .picture_box {
		/* width: 98.99%; */
	}
	.content3_wrapper{
		height:100%;
	}
	.content3 h2 {
	padding-top:50px;
	font-size:2em;
	line-height:2em;
	font-weight:bold;
	}
	.content3 .wrapwrap {
		margin-top:15px;
		margin-bottom: 17px;
		height:100%;
	}/*
	.content3 h2 {
		padding-top:30px;
		font-size:25px;
		height:30px;
	}	*//*
	.content3 .wrapwrap .email {
		padding-left:0;
		padding-top:10px;
	}
	.content3 .call > p {
		padding-left:37px;
		text-align:left;
	}
	.content3 .email > p {
		text-align:left;
	}*/
	.content3 .wrapwrap .call{
		display:block;
		text-align:none;
		padding-top:0px;

	}
	.content3 .wrapwrap .email {
		display:block;
		text-align:none;
		padding-top:10px;
		padding-left:25px;
	}
	.call img,
	.email img {
		max-width:10%;
	}
	.popup,
	.popup .close {
		z-index:-9999;
	}
}
@media only screen and (max-width:480px) {
	body {
		font-size:0.675em;
	}
	.header_wrapper{
	height:400px;
	}		/*
	.header .title {
		width:360px;
		padding:200px 0 0 380px;
		font-size:35px;
	}
	.header .title h2 {
		font-size:70px;
	}*//*
	.content1 .about {
		height:350px;
	}*/
	.content1 .about {
	height:250px;
	background: url(../images/about_s.jpg) center;
	}
	.content1 .text {
		width:300px;
	}
	.content1 .skill {
	width:300px;
	}/*
	.content3 h2 {
		padding-top:25px;
		font-size:20px;
		font-weight:600;
		height:30px;
	}
	.content3 .wrapwrap .call,
	.content3 .wrapwrap .email {
		text-align:left;
	}
	.content3 .wrapwrap .email{
		margin-left:42px;
	}
	.content3 .call > p {
		padding-left:37px;
		text-align:left;
	}*/
}

/* mansonry CSS *//* 추가된 영역입니다. */
.gallery .grid-sizer,
.gallery .grid-item {
	width: 33.333%;
}
.gallery .grid-item {
	float: left;
	padding: 0 5px 5px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery .grid-item img {
	display: block;
	width: 100%;
	max-width: 100%;
}

@media only screen and (max-width: 800px){
	.subject .feature {
		margin-right: 6%;
		width: 47%;
	}
	.subject .feature:nth-child(2n+2) {
		margin-right: 0;
	}
	.subject .feature:nth-child(3n) {
		margin-right: 6%;
	}
	.subject .feature:nth-child(6n) {
		margin-right: 0;
	}
	.gallery .grid-sizer,
	.gallery .grid-item {
		width: 50%;
	}
}
@media only screen and (max-width: 500px){
	.subject .feature {
		margin-right: 0;
		width: 100%;
	}
	.gallery .grid-sizer,
	.gallery .grid-item {
		width: 100%;
	}
}
/* // 추가된 영역입니다. */
